// app global css in Sass form
@import '@fontsource-variable/inter/index.css'

h1,h2,h3,h4,h5,h6,p,a,span
  font-size: inherit !important
  font-weight: inherit !important
  line-height: inherit !important
  letter-spacing: inherit !important
  margin: 0 !important

body.body--dark .q-header
  background-color: $dark-page
  border-color: $table-dark-border-color

::-webkit-scrollbar
  width: 3px

::-webkit-scrollbar-track
  background: transparent



::-webkit-scrollbar-thumb
  background: var(--color-border-dark)
  border-radius: var(--radius-full)


*
    scroll-behavior: smooth !important
